# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-2

# PyIceberg Configuration
TABLE_NAME=customer
CATALOG_NAME=S3TablesCatalog
S3_BUCKET=pyiceberg-blog-bucket
DATABASE_NAME=myblognamespace